<app-header></app-header>
<div class="container">
    <div class="dashboard-card shadow-lg">
        <h2>Admin Dashboard</h2>
            <div class="button-card">
                <table class="table">
                    <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-primary"
                                        [href]=""
                                        routerLink="./emp">Staff Management</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary btn-lg btn-block text-center" 
                                    role="buton"
                                    href="/stafflist"> <span><i class="fa fa-users"></i></span>
                                    
                                    Staff List Management</a>



                                </td>



                            </tr>



                    </tbody>


                </table>


            </div>

    </div>
</div>
